# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y credenciales (claves de DB, tokens)
.env

# Archivos temporales y caché de Python
__pycache__/
*.pyc
*.pyo

# Configuración local de IDEs y SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos temporales y respaldos de Draw.io
*.bkp
*.drawio.bkp
.$*